

* {
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    height: 100%;
    width: 100%;
}

body {
    animation-name: bodyOpacity ;
    animation-duration: 4000ms;
}

header {
    width: 100%;
    height: 90px;

    .logo{
        height: 100%;
        display: flex;


        .icontitle {
            width: 28%;
            height: 100%;
            display: flex;
            align-items: center;

            i {
                font-size: 70px;
                margin-left: 15%;
            }
        }
        .logotitle {
            width: 72%;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 60%;
                height: 63px;
            }
        }
    }
}

.imageAndBorderRadiusRestaurant {
    height: 657px;
    .dessusDeTitreRestaurant {
        position: relative;
        height: 100px;
        bottom: 100px;
        border-radius: 100px 100px 0px 0px;
        background-color: #F6F6F6;
    }
}

.menurestaurant {
    background-color: $couleurGriseCarteEtBackground;
    padding: 0px 6% 130px 6%;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        width: 50%;
        margin: 100px auto;
        border-radius: 60px;
        border: none;
        color: #FFF;
        font-size: 36px;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}

%restaurantname {
    font-family: Shrikhand;
    color: black;
    font-size: 70px;
}

.restauranttitle {
    display: flex;
    align-items: center;

    h1 {
        @extend %restaurantname;
    }
}

.titlerestaurantstar {
    display: flex;
    align-items: center;
}

.restauranttitle {
    width: 80%;
}

.restaurantstar {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 70px;
    }
}

.restaurantentrées, .restaurantplats, .restaurantdesserts {
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: roboto;
        font-size: 40px;
        font-weight: 200;
        margin-bottom: 8px;
    }

    .barresousmenu {
        height: 7px;
        width: 12%;
        background-color: #99E2D0;
    }
}

.restaurantentrées {
    margin-top: 50px;
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
    :nth-child(6) {
        animation-name: delayCard;
        animation-delay: 800ms;
        animation-duration: 1000ms;
    }
}

.restaurantplats {
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
}

.restaurantdesserts {
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
}

.cartesmenus {
    display: flex;
    justify-content: space-between;
    height: 180px;
    background-color: #FFF;
    border-radius: 30px;
    padding-left: 4%;
    margin-top: 40px;
    &:active .validation {
        width: 21%;
        height: 100%;
        opacity: 1;
        transition: ease;
        transition-duration: 1000ms;
    }
    &:active .bgcheck{
        transform: rotate(360deg);
        transition-duration: 1000ms;
        opacity: 1;
        }
    &:active .infomenu {
        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &:active .prix {
        width: 21%;
    }
    h3{
        font-family: roboto;
        font-size: 42px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        font-family: roboto;
        font-size: 36px;
        font-weight: 200;
        margin-top: 20px;
        margin-bottom: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .infomenu {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .prix {
        width: 40%;
        height: 110px;
        margin: 30px 0px 40px 0px;
        padding-right: 5%;
        display: flex;
        justify-content: flex-end;
        align-items:center;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 36px;
    }
}


.validation {
    border-radius: 0px 30px 30px 0px;
    width: 0%;
    height: 100%;
    background-color: #99E2D0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .bgcheck {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        height: 60px;
        width: 60px;
        background-color: #FFF;
        border-radius: 50%;
    }

    i {
        color: #99E2D0;
        font-size: 40px;
    }
}

footer {
    display: flex;
    align-items: center;
    background-color: #353535;
    color: #FFF;
    height: 650px;
    img {
        filter: invert(100%);
        width: 250px;
    }

    .lienfooter {
        display: flex;
        align-items: center;

        .fa-handshake-angle {
            margin-right: 10px;
            margin-top: 50px;
            font-size: 250%;
        }

        .fa-utensils {
            margin-right: 17px;
            margin-top: 50px;
            font-size: 250%;
        }
    }

    .infofooter{
        margin: 0px 0px 50px 59px;


        p {
            font-family: 'roboto',sans-serif;
            font-size: 45px;
            font-weight: 400;
            margin-bottom: 0px;
        }
    }

    a {
        color: #FFF;
        font-family: 'roboto',sans-serif;
        font-size: 45px;
        font-weight: 400;
    }
}

@keyframes delayCard {
    from{
    opacity: 0;
    margin-top: -5px;
    }
    99% {
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

@keyframes bodyOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
