

* {
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    height: 100%;
    width: 100%;
}

body {
    animation-name: bodyOpacity ;
    animation-duration: 4000ms;
}

header {
    margin: 10px 0;
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .icontitle {
            display: flex;
            position: absolute;
            left: 20px;
            align-items: center;
            i {
                font-size: 30px;
            }
        }
        .logotitle {
            display: flex;
            align-items: center;

            img {
                width: 150px;
                height: 30px;
            }
        }
    }
}

.imageAndBorderRadiusRestaurant {
    position: relative;
    .dessusDeTitreRestaurant {
        position: absolute;
        z-index: 8;
        height: 40px;
        width: 100%;
        background-color: #F6F6F6;
        border-radius: 50px 50px 0px 0px;
        bottom: 0px;
    }
}

.menurestaurant {
    background-color: $couleurGriseCarteEtBackground;
    padding: 0px 6% 60px 6%;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50%;
        margin: 40px auto 0 auto;
        border-radius: 60px;
        border: none;
        color: #FFF;
        font-size: 16px;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}

%restaurantname {
    font-family: Shrikhand;
    color: black;
    font-size: 25px;
}

.restauranttitle {
    display: flex;
    align-items: center;

    h1 {
        @extend %restaurantname;
    }
}

.titlerestaurantstar {
    display: flex;
    align-items: center;
}

.restauranttitle {
    width: 90%;
}

.restaurantstar {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 30px;
    }
}

.restaurantentrées, .restaurantplats, .restaurantdesserts {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    h2 {
        font-family: roboto;
        font-size: 15px;
        font-weight: 200;
        margin-bottom: 8px;
    }

    .barresousmenu {
        height: 3px;
        width: 11%;
        background-color: #99E2D0;
    }
}

.restaurantentrées {
    margin-top: 20px;
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
    :nth-child(6) {
        animation-name: delayCard;
        animation-delay: 800ms;
        animation-duration: 1000ms;
    }
}

.restaurantplats {
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
}

.restaurantdesserts {
    :nth-child(3) {
        animation-name: delayCard;
        animation-delay: 200ms;
        animation-duration: 1000ms;
    }
    :nth-child(4) {
        animation-name: delayCard;
        animation-delay: 400ms;
        animation-duration: 1000ms;
    }
    :nth-child(5) {
        animation-name: delayCard;
        animation-delay: 600ms;
        animation-duration: 1000ms;
    }
}

.cartesmenus {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #FFF;
    border-radius: 15px;
    padding-left: 4%;
    margin-top: 15px;
    &:active .validation, &:hover .validation  {
        width: 21%;
        height: 100%;
        opacity: 1;
        transition: ease;
        transition-duration: 1000ms;
    }
    &:active .bgcheck, &:hover .bgcheck {
        transform: rotate(360deg);
        transition-duration: 1000ms;
        opacity: 1;
        }
    &:active .infomenu, &:hover .infomenu {
        h3 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &:active .prix, &:hover .prix {
        width: 21%;
    }
    h3{
        font-family: roboto;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    p {
        font-family: roboto;
        font-size: 14px;
        font-weight: 200;
        margin-top: 5px;
        margin-bottom: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .infomenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        overflow: hidden;
    }

    .prix {
        width: 20%;
        padding-right: 5%;
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding-bottom: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}


.validation {
    border-radius: 0px 15px 15px 0px;
    width: 0%;
    height: 100%;
    background-color: #99E2D0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .bgcheck {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        height: 20px;
        width: 20px;
        background-color: #FFF;
        border-radius: 50%;
    }

    i {
        color: #99E2D0;
        font-size: 15px;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #353535;
    color: #FFF;
    height: 250px;

    img {
        filter: invert(100%);
        width: 110px;
        margin-bottom: 20px;
    }

    .lienfooter {
        display: flex;
        align-items: center;

        .fa-handshake-angle {
            margin-right: 10px;
            margin-top: 5px;
            font-size: 15px;
        }

        .fa-utensils {
            margin-right: 15px;
            margin-top: 5px;
            font-size:17px;
        }
    }

    .infofooter{
        margin: 0px 0px 50px 30px;
        p, a {
            font-family: 'roboto',sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0px;
            margin-top: 10px;
            color: #FFF;
        }

        .contact {
            margin-top: 5px;
        }
        img {
            margin-top: 30px;
        }
    }
}

@keyframes delayCard {
    from{
    opacity: 0;
    margin-top: -5px;
    }
    99% {
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}

@keyframes bodyOpacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {

    header .logo {
        .icontitle {
            left: 6%;
            .fa-arrow-left-long {
                font-size: 50px;
            }
        }
        .logotitle {
            img {
                width: 200px;
                height: 60px;
            }    
        }
    }

    .imageAndBorderRadiusRestaurant {
        margin: 50px 6%;
        img {
            border-radius: 20px;
        }
        .dessusDeTitreRestaurant {
            display: none;
        }
    }

    .menurestaurant {
        background-color: #FFFFFF;
        h2 {
            width: 100%;
        }
        margin-left: 10%;
        margin-right: 10%;
        .titlerestaurantstar {
            height: 70px;
            margin-top: 50px;
            background-color: #F6F6F6;
            border-radius: 20px;
        }
        .restauranttitle {
            justify-content: space-around;
            width: 80%;
            h1 {
                font-size: 25px;
            }
        }
        .cartesmenus {
            background-color: #F6F6F6;
        }
    }  
}

@media screen and (min-width: 992px) {

    header .logo {
        .icontitle {
            left: 16%;
        }
    }

    .imageAndBorderRadiusRestaurant {
        margin-left: 16%;
        margin-right: 16%;
        margin-bottom: 0;
        img {
            margin: 0;
            border-radius: 20px 20px 0 0;
        }
    }
 
    .menurestaurant {
        margin-left: 10%;
        margin-right: 10%;

        h2 {
            font-size: 30px;
        }
        .titlerestaurantstar {
            height: 120px;
            margin-top: 0px;
            border-radius: 0px 0px 20px 20px;
            .restauranttitle h1 {
                font-size: 45px;
            }
            .restaurantstar i {
                font-size: 45px;
            }
        }
        .cartesmenus {
            height: 120px;
            margin-top: 30px;
            .infomenu {
                h3 {
                    font-size: 35px;
                }
                p {
                    font-size: 30px;
                }
            }
            .prix {
                font-size: 30px;
                padding-bottom: 23px;
            }
        }

        .bgcheck {
            width: 50px;
            height: 50px;
            i {
                font-size: 30px;
            }
        }

        button {
            height: 90px;
            font-size: 35px;
        }
    }


    footer {
        text-align: center;
    }
}