@charset "UTF-8";
* {
  margin-left: 0px;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  height: 100%;
  width: 100%;
}

body {
  -webkit-animation-name: bodyOpacity;
          animation-name: bodyOpacity;
  -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
}

header {
  margin: 10px 0;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo .icontitle {
  display: flex;
  position: absolute;
  left: 20px;
  align-items: center;
}
header .logo .icontitle i {
  font-size: 30px;
}
header .logo .logotitle {
  display: flex;
  align-items: center;
}
header .logo .logotitle img {
  width: 150px;
  height: 30px;
}

.imageAndBorderRadiusRestaurant {
  position: relative;
}
.imageAndBorderRadiusRestaurant .dessusDeTitreRestaurant {
  position: absolute;
  z-index: 8;
  height: 40px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  bottom: 0px;
}

.menurestaurant {
  background-color: #f6f6f6;
  padding: 0px 6% 60px 6%;
}
.menurestaurant button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50%;
  margin: 40px auto 0 auto;
  border-radius: 60px;
  border: none;
  color: #FFF;
  font-size: 16px;
  background: linear-gradient(#FF79DA, #9356DC);
}

.restauranttitle h1 {
  font-family: Shrikhand;
  color: black;
  font-size: 25px;
}

.restauranttitle {
  display: flex;
  align-items: center;
}
.titlerestaurantstar {
  display: flex;
  align-items: center;
}

.restauranttitle {
  width: 90%;
}

.restaurantstar {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurantstar i {
  font-size: 30px;
}

.restaurantentrées, .restaurantplats, .restaurantdesserts {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.restaurantentrées h2, .restaurantplats h2, .restaurantdesserts h2 {
  font-family: roboto;
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 8px;
}
.restaurantentrées .barresousmenu, .restaurantplats .barresousmenu, .restaurantdesserts .barresousmenu {
  height: 3px;
  width: 11%;
  background-color: #99E2D0;
}

.restaurantentrées {
  margin-top: 20px;
}
.restaurantentrées :nth-child(3) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantentrées :nth-child(4) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantentrées :nth-child(5) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantentrées :nth-child(6) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.restaurantplats :nth-child(3) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantplats :nth-child(4) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantplats :nth-child(5) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.restaurantdesserts :nth-child(3) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantdesserts :nth-child(4) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}
.restaurantdesserts :nth-child(5) {
  -webkit-animation-name: delayCard;
          animation-name: delayCard;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
}

.cartesmenus {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #FFF;
  border-radius: 15px;
  padding-left: 4%;
  margin-top: 15px;
}
.cartesmenus:active .validation {
  width: 21%;
  height: 100%;
  opacity: 1;
  transition: ease;
  transition-duration: 1000ms;
}
.cartesmenus:active .bgcheck {
  transform: rotate(360deg);
  transition-duration: 1000ms;
  opacity: 1;
}
.cartesmenus:active .infomenu h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cartesmenus:active .infomenu p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cartesmenus:active .prix {
  width: 21%;
}
.cartesmenus h3 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cartesmenus p {
  font-family: roboto;
  font-size: 14px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cartesmenus .infomenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  overflow: hidden;
}
.cartesmenus .prix {
  width: 20%;
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.validation {
  border-radius: 0px 15px 15px 0px;
  width: 0%;
  height: 100%;
  background-color: #99E2D0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.validation .bgcheck {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border-radius: 50%;
}
.validation i {
  color: #99E2D0;
  font-size: 15px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #353535;
  color: #FFF;
  height: 250px;
}
footer img {
  filter: invert(100%);
  width: 110px;
  margin-bottom: 20px;
}
footer .lienfooter {
  display: flex;
  align-items: center;
}
footer .lienfooter .fa-handshake-angle {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 15px;
}
footer .lienfooter .fa-utensils {
  margin-right: 15px;
  margin-top: 5px;
  font-size: 17px;
}
footer .infofooter {
  margin: 0px 0px 50px 30px;
}
footer .infofooter p, footer .infofooter a {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #FFF;
}
footer .infofooter .contact {
  margin-top: 5px;
}

@-webkit-keyframes delayCard {
  from {
    opacity: 0;
    margin-top: -5px;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes delayCard {
  from {
    opacity: 0;
    margin-top: -5px;
  }
  99% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes bodyOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bodyOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  header .logo .icontitle .fa-arrow-left-long {
    font-size: 50px;
  }
  header .logo .logotitle img {
    width: 200px;
    height: 60px;
  }
  .imageAndBorderRadiusRestaurant {
    margin: 50px 6%;
  }
  .imageAndBorderRadiusRestaurant img {
    border-radius: 20px;
  }
  .imageAndBorderRadiusRestaurant .dessusDeTitreRestaurant {
    display: none;
  }
  .menurestaurant {
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
  }
  .menurestaurant h2 {
    width: 100%;
  }
  .menurestaurant .titlerestaurantstar {
    height: 70px;
    margin-top: 50px;
    background-color: #F6F6F6;
    border-radius: 20px;
  }
  .menurestaurant .restauranttitle {
    justify-content: space-around;
    width: 80%;
  }
  .menurestaurant .restauranttitle h1 {
    font-size: 25px;
  }
  .menurestaurant .cartesmenus {
    background-color: #F6F6F6;
  }
}
@media screen and (min-width: 992px) {
  .imageAndBorderRadiusRestaurant {
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 0;
  }
  .imageAndBorderRadiusRestaurant img {
    margin: 0;
    border-radius: 20px 20px 0 0;
  }
  .menurestaurant {
    margin-left: 10%;
    margin-right: 10%;
  }
  .menurestaurant h2 {
    font-size: 30px;
  }
  .menurestaurant .titlerestaurantstar {
    height: 120px;
    margin-top: 0px;
    border-radius: 0px 0px 20px 20px;
  }
  .menurestaurant .titlerestaurantstar .restauranttitle h1 {
    font-size: 45px;
  }
  .menurestaurant .titlerestaurantstar .restaurantstar i {
    font-size: 45px;
  }
  .menurestaurant .cartesmenus {
    height: 120px;
    margin-top: 30px;
  }
  .menurestaurant .cartesmenus .infomenu h3 {
    font-size: 35px;
  }
  .menurestaurant .cartesmenus .infomenu p {
    font-size: 30px;
  }
  .menurestaurant .cartesmenus .prix {
    font-size: 30px;
    padding-bottom: 23px;
  }
  .menurestaurant .bgcheck {
    width: 50px;
    height: 50px;
  }
  .menurestaurant .bgcheck i {
    font-size: 30px;
  }
  .menurestaurant button {
    height: 90px;
    font-size: 35px;
  }
  footer {
    text-align: center;
  }
}
* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 0;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

.loadingPage {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation-name: loadingPage;
          animation-name: loadingPage;
  -webkit-animation-duration: 3200ms;
          animation-duration: 3200ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loadertext {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-top: 75%;
  width: 80%;
  height: 60px;
}
.loadertext :nth-child(1) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(2) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(3) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(4) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(5) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(6) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(7) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.loadertext :nth-child(8) {
  -webkit-animation-name: letterAnimation;
          animation-name: letterAnimation;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.letterloadertext {
  display: flex;
  justify-content: center;
  width: 5%;
  font-family: Shrikhand;
  font-size: 30px;
}

header {
  margin: 15px 0;
}
header .title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
  width: 170px;
  height: 30px;
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background-color: #eaeaea;
}
.localisation span {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}
.localisation span i {
  font-size: 20px;
  margin-bottom: 10px;
}
.localisation input {
  display: flex;
  align-items: center;
  height: 40px;
  border: none;
  background-color: #eaeaea;
  padding: 0px;
  outline: none;
  font-family: Roboto;
  color: black;
}
.localisation ::-moz-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}
.localisation :-ms-input-placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}
.localisation ::placeholder {
  font-family: "Roboto";
  font-size: 16px;
  color: black;
}

.slogan {
  background-color: #f6f6f6;
  text-align: center;
}
.slogan h1 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 25px;
  margin: 0 18% 0 18%;
  padding-top: 30px;
}
.slogan h2 {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  margin: 15px 6% 0 6%;
}
.slogan button {
  height: 50px;
  width: 225px;
  margin: 20px auto 50px auto;
  border-radius: 40px;
  border: none;
  color: #FFF;
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
}

.fonctionnement {
  margin: 50px 6% 50px 6%;
}
.fonctionnement h1 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
}

.rondvioletnombre {
  position: relative;
  top: 52px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color: #FFF;
  font-size: 15px;
  font-family: "roboto";
  background-color: #9356DC;
}

.cartefonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #f6f6f6;
  border-radius: 25px;
}
.cartefonctionnement:hover {
  background-color: #f5edff;
}
.cartefonctionnement:hover .icone {
  color: #9356DC;
}
.cartefonctionnement .icone {
  display: flex;
  font-size: 300%;
  margin-right: 10%;
}
.cartefonctionnement .icone .fa-solid {
  font-size: 20px;
  margin-right: 5%;
}
.cartefonctionnement p {
  font-size: 18px;
  font-weight: 400;
  font-family: Roboto;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 50px 6% 50px 6%;
  display: flex;
  flex-direction: column;
  height: 1080px;
  justify-content: space-between;
}
.restaurants .allcards {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.restaurants .cardAndIcons {
  position: relative;
}
.restaurants .cardAndIcons .nouveaucarte {
  display: flex;
  position: absolute;
  left: 72%;
  top: 15px;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: #008766;
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto";
  box-sizing: border-box;
}
.restaurants .iconacceuil {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  left: 68%;
  top: 190px;
  pointer-events: auto;
}
.restaurants .iconacceuil .fa-heart {
  font-size: 30px;
}
.restaurants .iconacceuil .colorheart {
  position: absolute;
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.restaurants .iconacceuil .colorheart:active, .restaurants .iconacceuil .colorheart:hover {
  -webkit-animation-name: heartAnimation;
          animation-name: heartAnimation;
  -webkit-animation-duration: 1500ms;
          animation-duration: 1500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  opacity: 1;
}
.restaurants h1 {
  font-family: "Roboto";
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
}

.carteacceuil .photocarteacceuil {
  height: 170px;
}
.carteacceuil .photocarteacceuil img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.carteacceuil .basdecarte {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #FFF;
  border-radius: 0px 0px 20px 20px;
  padding: 0 8% 0 5%;
}
.carteacceuil .basdecarte h2 {
  font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
.carteacceuil .basdecarte h3 {
  font-family: roboto;
  font-size: 16px;
  font-weight: 200;
}
.carteacceuil .basdecarte .infocarteacceuil {
  width: 75%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #353535;
  color: #FFF;
  height: 220px;
}
footer img {
  filter: invert(100%);
  width: 110px;
  margin-bottom: 20px;
}
footer .lienfooter {
  display: flex;
  align-items: center;
}
footer .lienfooter .fa-handshake-angle {
  margin-right: 10px;
  margin-top: 5px;
  font-size: 15px;
}
footer .lienfooter .fa-utensils {
  margin-right: 15px;
  margin-top: 5px;
  font-size: 17px;
}
footer .infofooter {
  margin: 20px 0px 50px 30px;
}
footer .infofooter p, footer .infofooter a {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #FFF;
}
footer .infofooter .contact {
  margin-top: 5px;
}

@-webkit-keyframes heartAnimation {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes heartAnimation {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes loadingPage {
  from {
    background-color: #FFF;
    opacity: 1;
    z-index: 1;
  }
  99% {
    background-color: #FFF;
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -99;
  }
}
@keyframes loadingPage {
  from {
    background-color: #FFF;
    opacity: 1;
    z-index: 1;
  }
  99% {
    background-color: #FFF;
    opacity: 1;
    z-index: 1;
  }
  to {
    opacity: 0;
    z-index: -99;
  }
}
@-webkit-keyframes letterAnimation {
  from {
    color: #FF79DA;
  }
  50% {
    color: #9356DC;
  }
  99% {
    color: #FF79DA;
  }
  to {
    color: #000;
  }
}
@keyframes letterAnimation {
  from {
    color: #FF79DA;
  }
  50% {
    color: #9356DC;
  }
  99% {
    color: #FF79DA;
  }
  to {
    color: #000;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 73%;
  }
}
@media screen and (min-width: 480px) and (max-width: 529px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 76%;
  }
}
@media screen and (min-width: 530px) and (max-width: 579px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 79%;
  }
}
@media screen and (min-width: 580px) and (max-width: 694px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 81%;
  }
}
@media screen and (min-width: 695px) and (max-width: 729px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 83%;
  }
}
@media screen and (min-width: 730px) and (max-width: 767px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 85%;
  }
}
@media only screen and (min-width: 768px) {
  .loadertext {
    padding-top: 40%;
  }
  .fonctionnement, .restaurants {
    margin-left: 20%;
    margin-right: 20%;
  }
  .restaurants {
    border-radius: 20px;
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 839px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 75%;
  }
}
@media only screen and (min-width: 840px) and (max-width: 991px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 77%;
  }
}
@media screen and (min-width: 992px) {
  .loadertext {
    padding-top: 25%;
  }
  .fonctionnement {
    margin: 50px 10%;
  }
  .fonctionnement .allcardsfonctionnement {
    display: flex;
    flex-direction: row;
  }
  .fonctionnement .allcardsfonctionnement .cartefonctionnement {
    width: 30%;
  }
  .rondvioletnombre {
    top: 30px;
    left: 12px;
  }
  .restaurants {
    height: 590px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
  }
  .restaurants .allcards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .allcards .cardAndIcons {
    width: 48%;
  }
  footer {
    padding-left: 40%;
  }
  footer .infofooter {
    margin-left: 0;
  }
  footer img {
    width: 170px;
    margin-bottom: 10px;
  }
  footer .infofooter p, footer .infofooter a {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1090px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 73%;
  }
}
@media screen and (min-width: 1091px) and (max-width: 1200px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 75%;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 78%;
  }
}
@media screen and (min-width: 1400px) {
  .restaurants .cardAndIcons .nouveaucarte {
    left: 80%;
  }
}/*# sourceMappingURL=index.css.map */