// VARIABLES

$couleurGriseCarteEtBackground: #f6f6f6;
$couleurPastillesEtIconesCartesFonctionnement: #9356DC;

//IMPORTS

@import 'menuohmyfood';
@import 'libs/mixin';


* {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    position: relative;
}

img {
    height: 100%;
    width: 100%;
}

.loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 666;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    animation-name: loadingPage;
    animation-duration: 3200ms;
    animation-fill-mode: both;
}

.loadertext {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    height: 60px;
    :nth-child(1) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 300ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(2) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 600ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(3) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 900ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(4) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1200ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(5) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1500ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(6) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1800ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(7) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 2100ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(8) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 2500ms;
        animation-timing-function: ease-in-out;
    }
}

.letterloadertext {
    display: flex;
    justify-content: center;
    width: 5%;
    font-family: Shrikhand;
    font-size: 30px;
}

header {
    margin: 15px 0;
    .title{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 170px;
        height: 30px;
    }
}

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #eaeaea;

    span{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2%;

        i {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    input {
        display: flex;
        align-items: center;
        height: 40px;
        border: none;
        background-color: #eaeaea;
        padding: 0px;
        outline: none;
        font-family: Roboto;
        color: black;
    }

    ::placeholder {
        font-family: 'Roboto';
        font-size: 16px;
        color: black;
    }
}

.slogan {
    background-color: $couleurGriseCarteEtBackground;
    text-align: center;

    h1 {
        font-family: Roboto;
        font-weight: 400;
        font-size: 25px;
        margin: 0 18% 0 18%;
        padding-top: 30px;
    }

    h2 {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 100;
        margin: 15px 6% 0 6%;
    }

    button {
        height: 50px;
        width: 225px;
        margin: 20px auto 50px auto;
        border-radius: 40px;
        border: none;
        color: #FFF;
        font-size: 18px;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}

.fonctionnement {
    margin: 50px 6% 50px 6%;
    h1{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 26px;
    }
}

.rondvioletnombre {
    position: relative;
    top: 52px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #FFF;
    font-size: 15px;
    font-family: 'roboto';
    background-color: $couleurPastillesEtIconesCartesFonctionnement;
}

.cartefonctionnement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: $couleurGriseCarteEtBackground;
    border-radius: 25px;
    &:hover {
        background-color: #f5edff;
        .icone {
            color: $couleurPastillesEtIconesCartesFonctionnement;
        }
    }

    .icone {
        display: flex;
        font-size: 300%;
        margin-right: 10%;
        .fa-solid {
            font-size: 20px;
            margin-right: 5%;
        }
    }
    
    p{
        font-size: 18px;
        font-weight: 400;
        font-family: Roboto;
    }
}

.restaurants {
    background-color: $couleurGriseCarteEtBackground;
    padding: 50px 6% 50px 6%;
    display: flex;
    flex-direction: column;
    height: 1080px;
    justify-content: space-between;

    .allcards {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .cardAndIcons {
        position: relative;
        .nouveaucarte {
            display: flex;
            position: absolute;
            left: 72%;
            top: 15px;
            align-items: center;
            justify-content: center;
            background-color: #99e2d0;
            color: #008766;
            height: 30px;
            width: 80px;
            border-radius: 5px;
            font-size: 14px;
            font-family: 'Roboto';
            box-sizing: border-box;
        }
    }

    .iconacceuil {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        left: 68%;
        top: 190px;
        pointer-events: auto; 

        .fa-heart {
            font-size: 30px;
        }

        .colorheart {
            position: absolute;
            opacity: 0;
            background: linear-gradient(#FF79DA, #9356DC);
            color: transparent;
            background-clip: text;
            &:active, &:hover{
                animation-name: heartAnimation;
                animation-duration: 1500ms;
                animation-fill-mode: both;
                opacity: 1;
            }
        }
    }

    h1 {
        font-family: 'Roboto';
        font-size: 26px;
        font-weight: 400;
        margin-bottom: 30px;
    }
}

.carteacceuil {

    .photocarteacceuil {
        height: 170px;

        img {
        border-radius: 20px 20px 0 0;
        object-fit: cover;
        }
    }

    .basdecarte {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: #FFF;
        border-radius: 0px 0px 20px 20px;
        padding: 0 8% 0 5%;

        h2{
            font-family: 'roboto';
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        h3 {
            font-family: roboto;
            font-size: 16px;
            font-weight: 200;
        }

        .infocarteacceuil {
            width: 75%;
        }
    }    
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #353535;
    color: #FFF;
    height: 220px;

    img {
        filter: invert(100%);
        width: 110px;
        margin-bottom: 20px;
    }

    .lienfooter {
        display: flex;
        align-items: center;

        .fa-handshake-angle {
            margin-right: 10px;
            margin-top: 5px;
            font-size: 15px;
        }

        .fa-utensils {
            margin-right: 15px;
            margin-top: 5px;
            font-size:17px;
        }
    }

    .infofooter{
        margin: 20px 0px 50px 30px;


        p, a {
            font-family: 'roboto',sans-serif;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0px;
            margin-top: 10px;
            color: #FFF;
        }

        .contact {
            margin-top: 5px;
        }
    }
}


@keyframes heartAnimation {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes loadingPage {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

@keyframes letterAnimation {
    from {
        color: #FF79DA;
    }
    50% {
        color: #9356DC;
    }
    99% {
        color: #FF79DA;
    }
    to{
        color: #000;
    }
}

@media screen and (min-width: 400px) and (max-width: 499px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 73%;
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 529px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 76%;
            }
        }
    }
}

@media screen and (min-width: 530px) and (max-width: 579px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 79%;
            }
        }
    }
}

@media screen and (min-width: 580px) and (max-width: 694px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 81%;
            }
        }
    }
}

@media screen and (min-width: 695px) and (max-width: 729px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 83%;
            }
        }
    }
}

@media screen and (min-width: 730px) and (max-width: 767px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 85%;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .fonctionnement, .restaurants {
        margin-left: 20%;
        margin-right: 20%;
    }

    .restaurants {
        border-radius: 20px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 839px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 75%;
            }
        }
    }
}

@media only screen and (min-width: 840px) and (max-width: 991px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 77%;
            }
        }
    }
}


@media screen and (min-width: 992px) {
    .fonctionnement {
        margin: 50px 10%;
        h1 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .allcardsfonctionnement {
            display: flex;
            flex-direction: row;
            .cartefonctionnement {
                width: 30%;
            }
        }
    }

    .rondvioletnombre {
        top: 30px;
        left: 12px;
    }

    .restaurants {
        height: 590px;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 20px;
        .allcards {
            flex-direction: row;
            flex-wrap: wrap;
            
            .cardAndIcons {
                width: 48%;
            }
        }
    }
    footer {
        padding-left: 40%;
        .infofooter {
            margin-left: 0;
        }
        img {
            width: 170px;
            margin-bottom: 10px;
        }
        .infofooter {
            p, a {
                font-size: 22px;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1090px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 73%;
            }
        }
    }
}

@media screen and (min-width: 1091px) and (max-width: 1200px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 75%;
            }
        }
    }
}

@media screen and (min-width: 1201px) and (max-width: 1399px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 78%;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .restaurants {
        .cardAndIcons {
            .nouveaucarte {
                left: 80%;
            }
        }
    }
}