// VARIABLES

$couleurGriseCarteEtBackground: #f6f6f6;
$couleurPastillesEtIconesCartesFonctionnement: #9356DC;

//IMPORTS

@import 'menuohmyfood';
@import 'libs/mixin';


* {
    margin-left: 0px;
    margin-right: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
}

.loadingPage {
    position: absolute;
    height: 6270px;
    width: 100%;
    animation-name: loadingPage;
    animation-duration: 3000ms;
    animation-fill-mode: both;
}


.loader {
    height: 30px;
    width: 30px;
    border-top: solid 60px #9356DC;
    border-bottom: solid 60px #9356DC;
    border-left: solid 60px #FF79DA;
    border-right: solid 60px #FF79DA;
    border-radius: 50%;
    position: fixed;
    animation-name: loader;
    animation-duration:3000ms;
    opacity: 1;
}

.loadertext {
    margin-left: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 73%;
    height: 60px;
    margin-top: 65%;
    position: fixed;
    :nth-child(1) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 300ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(2) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 600ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(3) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 900ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(4) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1200ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(5) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1500ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(6) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 1800ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(7) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 2100ms;
        animation-timing-function: ease-in-out;
    }
    :nth-child(8) {
        animation-name: letterAnimation;
        animation-duration: 3000ms;
        animation-delay: 2500ms;
        animation-timing-function: ease-in-out;
    }
}

.letterloadertext {
    display: flex;
    justify-content: center;
    width: 5%;
    font-family: Shrikhand;
    font-size: 80px;
}

header {
    width: 100%;
    height: 90px;
    margin: 40px 0px 10px 0px;

    .title{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 43%;
        height: 70%;
    }
}

.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #eaeaea;


    span{
        height: 100%;
        width: 90px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i {
            font-size: 35px;
            margin-bottom: 10px;
        }
    }

    input {
        display: flex;
        align-items: center;
        height: 40px;
        width: 35%;
        border: none;
        background-color: #eaeaea;
        padding: 0px;
        outline: none;
        font-family: Roboto;
        font-size: 35px;
        font-style: 500;
        color: black;
    }

    ::placeholder {
        font-family: Roboto;
        font-size: 35px;
        font-style: 500;
        color: black;
    }
}

.slogan {
    background-color: $couleurGriseCarteEtBackground;

    h1 {
        font-family: Roboto;
        font-weight: 400;
        font-size: 55px;
        margin: 0 18% 0 18%;
        padding-top: 100px;
        text-align: center;
    }

    h2 {
        font-family: Roboto;
        font-size: 45px;
        font-weight: 100;
        margin: 20px 10% 0 10%;
        text-align: center;
    }

    button {
        height: 120px;
        width: 50%;
        margin: 60px 25% 120px 25%;
        border-radius: 60px;
        border: none;
        color: #FFF;
        font-size: 36px;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}

.fonctionnement {
    margin: 100px 6% 180px 6%;

    h1{
        font-family: Roboto;
        font-weight: 400;
        font-size: 55px;
    }
}

.rondvioletnombre {
    position: relative;
    top: 130px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: #FFF;
    font-size: 30px;
    font-family: roboto;
    background-color: $couleurPastillesEtIconesCartesFonctionnement;
}

.cartefonctionnement {
    display: flex;
    align-items: center;
    width: 100%;
    height: 190px;
    background-color: $couleurGriseCarteEtBackground;
    margin-bottom: 50px;
    border-radius: 50px;
    &:hover {
        background-color: #f5edff;
        .icone {
            color: $couleurPastillesEtIconesCartesFonctionnement;
        }
    }

    .icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        font-size: 300%;
    }
    
    p{
        width: 75%;
        font-size: 45px;
        font-weight: 400;
        font-family: Roboto;
    }
}

.restaurants {
    background-color: $couleurGriseCarteEtBackground;
    padding: 180px 6% 200px 6%;
    display: flex;
    flex-direction: column;
    height: 3105px;
    justify-content: space-between;

    .cardAndIcons {
        position: relative;
        .nouveaucarte {
            display: flex;
            position: absolute;
            left: 77%;
            top: 25px;
            align-items: center;
            justify-content: center;
            background-color: #99e2d0;
            color: #008766;
            height: 80px;
            width: 170px;
            border-radius: 10px;
            font-size: 40px;
        }
    }

    .iconacceuil {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        left: 70%;
        top: 530px;
        pointer-events: auto; 

        .fa-heart {
            font-size: 70px;
        }

        .colorheart {
            position: absolute;
            opacity: 0;
            background: linear-gradient(#FF79DA, #9356DC);
            color: transparent;
            background-clip: text;
            &:active, &:hover{
                animation-name: heartAnimation;
                animation-duration: 1500ms;
                animation-fill-mode: both;
                opacity: 1;
            }
        }
    }

    h1 {
        font-family: Roboto;
        font-size: 52px;
        font-weight: 400;
        margin-bottom: 50px;
    }
}

.carteacceuil {
    height: 675px;

    .photocarteacceuil {
        height: 475px;

        img {
        border-radius: 40px 40px 0 0;
        object-fit: cover;
        }
    }

    .basdecarte {
        display: flex;
        align-items: center;
        height: 200px;
        background-color: #FFF;
        border-radius: 0px 0px 40px 40px;
        padding: 0 8% 0 5%;

        h2{
            font-family: roboto;
            font-size: 44px;
            font-weight: 400;
            margin-top: 30px;
            margin-bottom: 0px;
        }

        h3 {
            font-family: roboto;
            font-size: 42px;
            font-weight: 200;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        .infocarteacceuil {
            width: 75%;
        }
    }    
}

footer {
    display: flex;
    align-items: center;
    background-color: #353535;
    color: #FFF;
    height: 650px;

    img {
        filter: invert(100%);
        width: 250px;
    }

    .lienfooter {
        display: flex;
        align-items: center;

        .fa-handshake-angle {
            margin-right: 10px;
            margin-top: 50px;
            font-size: 250%;
        }

        .fa-utensils {
            margin-right: 17px;
            margin-top: 50px;
            font-size: 250%;
        }
    }

    .infofooter{
        margin: 0px 0px 50px 59px;


        p, a {
            font-family: 'roboto',sans-serif;
            font-size: 45px;
            font-weight: 400;
            margin-bottom: 0px;
            color: #FFF;
        }
    }
}


@keyframes heartAnimation {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes loadingPage {
    from {
        background-color: #FFF;
        opacity: 1;
        z-index: 1;
    }
    99% {
        background-color: #FFF;
        opacity: 1;
        z-index: 1;
    }
    to {
        opacity: 0;
        z-index: -99;
    }
}

@keyframes loader {
    from {
        transform: translate(0px, 210px) rotate(360deg);
    }
    6% {
        transform: translate(50px, 420px) rotate(0deg);
    }
    12% {
        transform: translate(100px, 210px) rotate(360deg);
    }
    18% {
        transform: translate(150px, 420px) rotate(0deg);
    }
    24% {
        transform: translate(200px, 210px) rotate(360deg);
    }
    30% {
        transform: translate(250px, 420px) rotate(0deg);
    }
    36% {
        transform: translate(300px, 210px) rotate(360deg);
    }
    42% {
        transform: translate(350px, 420px)rotate(0deg);
    }
    48% {
        transform: translate(400px, 210px) rotate(360deg);
    }
    54% {
        transform: translate(450px, 420px) rotate(0deg);
    }
    60% {
        transform: translate(500px, 210px) rotate(360deg);
    }
    66% {
        transform: translate(550px, 420px) rotate(0deg);
    }
    72% {
        transform: translate(600px, 210px) rotate(360deg);
    }
    78% {
        transform: translate(650px, 420px) rotate(0deg);
    }
    84% {
        transform: translate(700px, 210px) rotate(360deg);
    }
    90% {
        transform: translate(750px, 420px) rotate(0deg);
    }
    to {
        transform: translate(800px, 210px) rotate(360deg);
    }
}

@keyframes letterAnimation {
    from {
        color: #FF79DA;
    }
    50% {
        color: #9356DC;
    }
    99% {
        color: #FF79DA;
    }
    to{
        color: #000;
    }
}
